@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&amp;display=swap");

:root {
	--main-text-color: #111;
	--second-text-color: #555;
	--accent-light-color: #ff1717;
	--accent-dark-color: #c11616;
}

::selection {
	background-color: var(--accent-light-color);
}

.navbar-nav a {
	color: #fff;
}

* {
	margin: 0;
	padding: 0;
}

:focus {
	outline: none;
}

body {
	min-width: 320px;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	color: var(--main-color);
	background-color: #f5f5f5;
}

a:hover {
	text-decoration: none;
}

a:visited,
a:focus {
	color: #fff;
	text-decoration: none;
}

.header-section {
	text-align: center;
	background-image: url("../img/header-background.jpg");
	background-size: cover;
	background-position: center;
	padding: 25px 0;
}

.header {
	background-image: -webkit-linear-gradient(top, rgba(45,53,56,1), rgba(45,53,56,0.70));
	margin: -25px 0;
	width: 100%;
}

.navbar-link-icon {
	position: relative;
	width: 50px;
	height: 50px;
	top: -6px;
}

.navbar-badge {
	font-size: 16px;
	background-color: var(--accent-dark-color);
	box-shadow: 0 0 15px var(--accent-dark-color);
	color: #fff;
	padding: 8px 20px;
	border-radius: 2em;
	margin-left: 10px;
}

.navbar-nav > li > a {
	font-size: 16px;
	cursor: pointer !important;
}

.header-block {
	padding: 100px 0;
	text-align: center;
}

.header-heading {
	max-width: 50%;
	font-size: 42px;
	font-weight: 700;
	line-height: 55px;
	color: #fff;
	margin: 0 auto;
}

.header-list {
	padding: 50px 0;
}

.header-list-item {
	text-align: center;
}

.header-list-item-icon {
	height: 75px;
	margin-bottom: 20px;
}

.header-list-item-text {
	font-size: 20px;
	line-height: 1.4;
	font-weight: 300;
	font-family: 'Roboto', sans-serif;
	color: #fff;
}

.header-footer-label,
.header-footer-line,
.header-footer-text {
	display: inline-block;
}

.header-footer-label {
	font-size: 24px;
	color: var(--accent-light-color);
}

.header-footer-line {
	position: relative;
	width: 100px;
	height: 2px;
	background-color: #fff;
	vertical-align: top;
	margin: 0 15px;
	top: 16px;
}

.header-footer-text {
	position: relative;
	font-size: 18px;
	color: #fff;
	top: -2px;
}

.header-button {
	display: block;
	max-width: 200px;
	text-align: center;
	margin: 0 auto;
	font-size: 18px;
	color: #fff;
	background-color: var(--accent-dark-color);
	box-shadow: 0 0 15px var(--accent-dark-color);
	padding: 12px 0;
	margin-top: 50px;
	border-radius: 2em;
	transition: .25s;
}

.header-button:hover {
	color: #fff;
	background-color: var(--accent-light-color);
}

.accident-section {
	text-align: center;
	padding: 75px 0;
}

.accident-heading {
	font-size: 32px;
	font-weight: 700;
	color: var(--accent-dark-color);
	margin: 0;
}

.social-footer {
	text-align: center;
}

.social-footer a {
	padding: 0 15px;
	width: 150%;
}

.accident-list {
	margin: 75px 0;
}

.accident-list-item {
	padding: 0 35px;
}

.accident-list-item-icon {
	height: 75px;
	margin-bottom: 25px;
}

.accident-list-item-text {
	font-size: 16px;
	font-weight: 500;
	line-height: 26px;
	color: var(--accent-dark-color);
}

.accident-button {
	display: block;
	max-width: 200px;
	text-align: center;
	font-size: 18px;
	color: #fff;
	background-color: var(--accent-dark-color);
	box-shadow: 0 0 15px var(--accent-dark-color);
	padding: 12px 0;
	margin: 25px auto 0 auto;
	border-radius: 2em;
	transition: .25s;
}

.accident-button:hover {
	color: #fff;
	background-color: var(--accent-light-color);
}

.services-section {
	text-align: center;
	padding: 75px 0;
}

.services-heading {
	font-size: 32px;
	font-weight: 700;
	color: var(--accent-dark-color);
	margin: 0;
}

.services-list {
	margin: 50px 0;
}

.services-list .row {
	margin-bottom: 50px;
}

.services-list-item {
	background-color: #fff;
	border-radius: 8px;
	margin: 0 25px;
}

.services-list-item-image {
	max-width: 100%;
	border-radius: 8px 8px 0 0;
}

.services-list-item-heading {
	font-size: 18px;
	font-weight: 700;
	margin: 20px 15px;
}

.services-list-item-text {
	color: var(--second-text-color);
	margin: 0 15px;
	padding-bottom: 10px;
}

.steps-section {
	background-image: url("../img/footer-background.jpg");
	background-size: cover;
	background-position: center;
	padding: 100px 0;
	margin-top: 50px;
}

.steps-heading {
	text-align: center;
	font-size: 32px;
	font-weight: 700;
	color: #fff;
}

.steps-list {
	margin-top: 50px;
}

.steps-list-item-number {
	display: block;
	margin: 0 auto;
	width: 50px;
	height: 50px;
	font-size: 22px;
	font-weight: 700;
	text-align: center;
	background-color: #fff;
	border-radius: 50%;
	padding-top: 9px;
}

.steps-list-item-text {
	font-size: 16px;
	text-align: center;
	color: #fff;
	margin-top: 20px;
}

.footer-section {
	background-color: #131c3d;
	padding: 25px 0;
}

.footer-text {
	max-width: 75%;
	color: #888d9f;
	margin: 40px 0;
}

.footer-label {
	text-align: center;
	font-size: 18px;
	color: var(--accent-light-color);
	margin-top: 40px;
}

.footer-button {
	display: block;
	max-width: 200px;
	text-align: center;
	font-size: 18px;
	color: #fff;
	background-color: var(--accent-dark-color);
	box-shadow: 0 0 15px var(--accent-dark-color);
	padding: 12px 0;
	margin: 25px auto 0 auto;
	border-radius: 2em;
	transition: .25s;
}

.footer-button:hover {
	color: #fff;
	background-color: var(--accent-light-color);
}

.footer-copyright {
	text-align: center;
	color: #888d9f;
	background-color: #0f1631;
	padding: 8px 5px;
	margin: 0;
}

.navbar-nav li {
	text-align: center;
}

.social a {
	display: inline-block !important;
}

.additional {
	text-align: left;
	padding: 15px 0 10px;
}

.additional strong {
	color: red;
}

.additional h1,
.additional h2 {
	text-align: center;
	margin-bottom: 10px;
}

.additional ul li {
	font-weight: normal;
}

.more {
	display: block;
	color: blue !important;
	padding-bottom: 10px;
	text-transform: uppercase;
}

@media (max-width: 1200px) {
	.footer-text {
		max-width: 100%;
	}
}

@media (max-width: 992px) {
	.header-heading {
		max-width: 100%;
	}

	.header-list-item-icon {
		height: 60px;
	}

	.accident-list-item {
		margin-bottom: 25px;
	}

	.accident-list-item-text {
		max-width: 50%;
		margin: 0 auto;
	}

	.services-list-item {
		max-width: 320px;
		margin: 0 auto 25px auto;
	}

	.services-list .row {
		margin-bottom: 0;
	}

	.steps-list-item {
		margin-bottom: 25px;
	}

	.footer-label {
		text-align: left;
	}

	.footer-button {
		margin: 20px auto 40px auto;
		display: block;
	}
}

@media (max-width: 768px) {
	.navbar-brand {
		margin-left: 15px;
		margin-top: 3px;
	}

	.navbar-collapse {
		text-align: left;
	}

	.nav > li > a {
		padding: 10px 20px;
	}

	.header-block {
		padding: 50px 0;
	}

	.header-heading {
		font-size: 36px;
		line-height: 40px;
	}

	.header-block .col-md-8 .col-sm-4 {
		padding-left: 0;
	}

	.header-list {
		padding-top: 50px;
		padding-bottom: 25px;
	}

	.header-list-item-icon {
		display: inline-block;
		width: 40px;
		margin-bottom: 0;
	}

	.header-list-item-text {
    display: inline-block;
    vertical-align: middle;
    margin-top: 15px;
		opacity: 0.6;
	}
}

@media (max-width: 530px) {
	.header-heading {
		margin-top: 20px;
		font-size: 28px;
		line-height: 34px;
	}

	.header-list {
		padding: 5px 0 20px;
	}

	.header-list-item:last-child {
		margin-bottom: 0;
	}

	.container {
		padding: 0 10px;
	}

	.col-md-4 {
		padding: 0;
	}

	.additional p {
		text-align: center;
	}

	.additional ul li {
		list-style: unset;
		margin-left: 25px;
	}
}

@media (max-width: 470px) {
	.accident-list {
		margin: 25px 0;
	}

	.accident-list-item-text {
		max-width: 100%;
	}

	.accident-button {
		margin: -25px auto 0 auto;
	}

	.steps-section {
		margin-top: 0;
	}

	.accident-heading,
	.services-heading,
	.steps-heading {
		font-size: 26px;
	}

	.steps-heading {
		text-align: center;
	}

	.steps-section {
		padding: 50px 0;
	}

	.services-section {
		padding: 0;
	}

	.footer-text {
		text-align: center;
		margin-top: 10px;
		margin-bottom: 0;
	}

	.footer-label {
		margin-top: 20px;
		text-align: center;
	}
}

@media (max-width: 390px) {
	.header-footer-line {
		display: none;
	}
}

@media (max-width: 360px) {
	.header-block {
		padding: 20px 0;
	}

	.header-button {
		margin-top: 10px;
	}
}

@media (min-width: 992px) {
	#vk_groups {
		float: right;
	}
}